<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>探索</title>
</head>
<body>
    <h2>对不起！！！</h2>
    <p>本小玩具还未写完，其实在学Vue，想用一些高效率的方法去写完，但是还未学到脚手架，只是会在html文件里构建Vue对象，目前进度在组件学习这里。</p>
    <p>如下图：</p>
    <img src="../resources/Vue.png">
    <p>快要到脚手架后面的新天地辣QAQ</p>
    <p>后面有时间会补齐或者重构（真的！）</p>
    <p>因为还没学完，所以本项目用的还是很复古的东西写的，Jquery啊，css啊（应该用less的） 这个项目是手撸出来的，低效率啊，写的有点难受</p>
    <p>这里放个链接： <a href="https://www.bilibili.com/video/BV1Zy4y1K7SH/?spm_id_from=333.337.search-card.all.click&vd_source=f74a5c2235a4cf8806d3d0a9f8054897">b站Vue课程链接</a></p>
    
</body>
</html>