<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的家乡-主页</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/home_header.css">
    <link rel="stylesheet" href="../css/home_banner.css">
    <link rel="stylesheet" href="../css/home_content.css">
    <link rel="stylesheet" href="../css/home_footer.css">
    <script src="../js/jquery.min.js"></script>
</head>

<body>
    <div class="web">
        <div class="header">
            <div class="headerContent">
                <div class="headerContentLeft">
                    <div>
                        <span class="mainName">Welcome to ShanTou</span>
                    </div>
                </div>
                <div class="headerContentRight">
                    <div class="nav1 item">
                        <a href="#">
                            <div>
                                <span class="nav_name">首页</span>
                            </div>
                        </a>
                    </div>
                    <div class="itemSep"></div>
                    <div class="nav2 item">
                        <a href="explore.html">
                            <div>
                                <span class="nav_name">探索</span>
                            </div>
                            <div></div>
                        </a>
                    </div>
                    <div class="itemSep"></div>
                    <div class="nav3 item">
                        <a href="video.html">
                            <div>
                                <span class="nav_name">视频介绍</span>
                            </div>
                        </a>
                    </div>
                    <div class="itemSep"></div>
                    <div class="nav4 item">
                        <a href="guide.html">
                            <div>
                                <span class="nav_name">游玩攻略</span>
                            </div>
                        </a>
                    </div>
                    <div class="itemSep"></div>
                    <div class="nav5 item">
                        <a href="about.html">
                            <div>
                                <span class="nav_name">关于我</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="webBanner">
            <div class="webBanner_middle">
                <div class="title title1">
                    <div class="title_in">
                        <span style="font-size: 24px; color: rgb(255, 255, 255);">舒 &nbsp;心 &nbsp;吃 &nbsp;住 &nbsp;行
                            &nbsp;/ &nbsp;畅 &nbsp;意 &nbsp;玩 &nbsp;汕 &nbsp;头</span>
                    </div>
                </div>
                <div class="title title2">
                    <div class="title_in">
                        <img src="../resources/title.png">
                    </div>
                </div>
                <div class="title title3">
                    <div class="title_in">
                        <span style="font-size: 13px; color: rgb(231, 229, 229);">There are plenty of sports and leisure
                            activities here, and
                            enjoy a pleasant holiday here.</span>
                    </div>
                </div>
                <div class="title title4">
                    <div class="title_in">
                        <img src="../resources/button.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="content1">
                <div class="content1_outer">
                    <div class="content1_outer_background">
                        <div class="content1_content">
                            <div class="content1_content_center">
                                <div class="content1_content_title1">
                                    <img src="../resources/about.png">
                                </div>
                                <div class="content1_content_title2">
                                    <span style="font-size: 34px; color: rgb(255, 255, 255);">关于汕头</span>
                                    <div>
                                        <span style="font-size: 34px; color: rgb(255, 255, 255);">———</span>
                                    </div>
                                </div>
                                <div class="content1_content_content1">
                                    <div>
                                        <span style="font-size: 14px; line-height: 34px; color: rgb(217, 231, 230);">
                                            汕头，简称“汕”，别称鮀城、鮀岛。位于韩江三角洲南端，北接潮州，西邻揭阳，南濒南海，东与台湾隔海，境内韩江、榕江、练江三江入海，是中国大陆唯一有内海湾的城市。
                                            汕头是中国宜居宜业城市、广东省营商环境优秀等级城市、国家卫生城市、国家森林城市、中国最具投资价值旅游城市、荣获全国双拥模范城七次、首届中国美丽城市典范、国家知识产权示范城市、国家电子商务示范城市、国家信息消费试点市、国家创新型城市全国性综合交通枢纽。
                                            汕头是潮汕人重要的祖籍地、聚居地之一，潮汕文化重要的发源地、兴盛地之一。海外华侨港澳台同胞500多万人，遍布世界100多个国家和地区。潮汕文化是中华民族优秀传统文化的分支，以潮汕方言、潮汕英歌舞、潮剧、潮菜、潮绣、工夫茶、潮汕工艺、潮汕抽纱、潮汕民居、潮汕善堂、潮汕商帮、潮汕木雕、迎老爷、出花园、三山国王等特色文化为代表。
                                        </span>
                                    </div>
                                </div>
                                <div class="content1_content_picture">
                                    <div>
                                        <img src="../resources/shantou6.jpg">
                                    </div>
                                </div>
                                <div class="content1_content_button">
                                    <div>
                                        <img src="../resources/content_button.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content2">
                <div class="content2_outer">
                    <div class="content2_outer_background">
                        <div class="content2_content">
                            <div class="content2_content_title1">
                                <div>
                                    <img src="../resources/title2.png">
                                </div>
                            </div>
                            <div class="content2_content_title2">
                                <div class="fk-editor simpleText fk-editor-break-word  ">
                                    <div style="text-align: center;">
                                        <span style="background-color: transparent;">
                                            <span style="font-size: 34px; color: rgb(255, 255, 255);">美丽风光</span>
                                        </span>
                                    </div>
                                    <div style="text-align: center;">
                                        <font color="#ffffff">
                                            <span style="color: rgb(48, 136, 115);">
                                                <span style="font-size: 40px;">—</span>
                                            </span>
                                        </font>
                                    </div>
                                </div>
                            </div>
                            <div class="content2_content_part1">
                                <div>
                                    <img src="../resources/nanao5.webp">
                                </div>
                                <div class="part1_content">
                                    <span style="line-height: 24px;">
                                        <div style="text-align: center;">
                                            <font color="#e0e1eb">
                                                <span style="font-size: 16px; font-weight: 600"
                                                    need-transition="true">南澳岛</span>
                                            </font>
                                            <font color="#e0e0e0">
                                                <span style="font-size: 16px;"><br></span>
                                            </font>
                                        </div>
                                        <div style="text-align: center;">
                                            <font color="#9496a1">
                                                <span style="font-size: 14px;" need-transition="true">“全国生态示范区”，
                                                    “国家4A级旅游景区”， “广东省最美丽的岛屿”， “广东省滨海旅游示范景区”</span>
                                            </font>
                                            <font color="#999999">
                                                <span style="font-size: 14px;"><br></span>
                                            </font>
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <div class="content2_content_part2">
                                <div>
                                    <img src="../resources/zhongshan.webp">
                                </div>
                                <div class="part2_content">
                                    <span style="line-height: 24px;">
                                        <div style="text-align: center;">
                                            <font color="#e0e1eb">
                                                <span style="font-size: 16px; font-weight: 600"
                                                    need-transition="true">汕头中山公园</span>
                                            </font>
                                            <font color="#e0e0e0">
                                                <span style="font-size: 16px;"><br></span>
                                            </font>
                                        </div>
                                        <div style="text-align: center;">
                                            <font color="#9496a1">
                                                <span style="font-size: 14px;"
                                                    need-transition="true">国家AAA级旅游景区，位于市区月眉河畔，是汕头市新八景之一“月苑莺声”，是粤东地区建园历史最早、规模最大、具有深厚历史和人文内涵的综合性公园。</span>
                                            </font>
                                            <font color="#999999">
                                                <span style="font-size: 14px;"><br></span>
                                            </font>
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <div class="content2_content_part3">
                                <div>
                                    <img src="../resources/jufeng.jpg">
                                </div>
                                <div class="part3_content">
                                    <span style="line-height: 24px;">
                                        <div style="text-align: center;">
                                            <font color="#e0e1eb">
                                                <span style="font-size: 16px; font-weight: 600"
                                                    need-transition="true">巨峰禅寺</span>
                                            </font>
                                            <font color="#e0e0e0">
                                                <span style="font-size: 16px;"><br></span>
                                            </font>
                                        </div>
                                        <div style="text-align: center;">
                                            <font color="#9496a1">
                                                <span style="font-size: 14px;"
                                                    need-transition="true">巨峰寺，位于汕头市濠江区珠浦东侧。殿塔亭阁，错落有致；梵宇琳宫，金碧辉煌。整座寺宇依山而上，如玉珠承盘，掩隐于禅林绿荫之中。骚人墨客，探幽至此，无不流连戽返，泼墨挥毫。雪泥鸿爪，珍存于峭壁摩崖，为秀山增色，为名刹添辉。因山寺集宗教、旅游、建筑风格独特于一体，成为粤东地区香客、游人常常造访的胜地。</span>
                                            </font>
                                            <font color="#999999">
                                                <span style="font-size: 14px;"><br></span>
                                            </font>
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <div class="content2_content_part4">
                                <div>
                                    <img src="../resources/lianhuafeng1.webp">
                                </div>
                                <div class="part4_content">
                                    <span style="line-height: 24px;">
                                        <div style="text-align: center;">
                                            <font color="#e0e1eb">
                                                <span style="font-size: 16px; font-weight: 600"
                                                    need-transition="true">莲花峰风景区</span>
                                            </font>
                                            <font color="#e0e0e0">
                                                <span style="font-size: 16px;"><br></span>
                                            </font>
                                        </div>
                                        <div style="text-align: center;">
                                            <font color="#9496a1">
                                                <span style="font-size: 14px;"
                                                    need-transition="true">莲花峰风景区位于广东省潮阳区南海边陲，练江入海口处.陆上远观，像一朵莲花含苞待放；海上远眺，则如盛开莲花，公元1278年，南宋文天祥举兵勤王，登峰寻望帝舟，遂命名并刻石为“莲花峰”。</span>
                                            </font>
                                            <font color="#999999">
                                                <span style="font-size: 14px;"><br></span>
                                            </font>
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <div class="content2_content_part5">
                                <div>
                                    <img src="../resources/shipaotai.jpg">
                                </div>
                                <div class="part5_content">
                                    <span style="line-height: 24px;">
                                        <div style="text-align: center;">
                                            <font color="#e0e1eb">
                                                <span style="font-size: 16px;" need-transition="true">石炮台公园</span>
                                            </font>
                                            <font color="#e0e0e0">
                                                <span style="font-size: 16px;"><br></span>
                                            </font>
                                        </div>
                                        <div style="text-align: center;">
                                            <font color="#9496a1">
                                                <span style="font-size: 14px;"
                                                    need-transition="true">石炮台公园是以崎碌炮台为主景点建筑而成的纪念性公园。
                                                    始建于清代同治十三年，已有一百多年的历史。
                                                    它位于旧汕头的东南角，为环圆形城堡建筑，是清代粤东地区的主要海防建筑。</span>
                                            </font>
                                            <font color="#999999">
                                                <span style="font-size: 14px;"><br></span>
                                            </font>
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <div class="content2_content_part6">
                                <div>
                                    <img src="../resources/qingyunyan.jpg">
                                </div>
                                <div class="part6_content">
                                    <span style="line-height: 24px;">
                                        <div style="text-align: center;">
                                            <font color="#e0e1eb">
                                                <span style="font-size: 16px;" need-transition="true">青云岩风景区</span>
                                            </font>
                                            <font color="#e0e0e0">
                                                <span style="font-size: 16px;"><br></span>
                                            </font>
                                        </div>
                                        <div style="text-align: center;">
                                            <font color="#9496a1">
                                                <span style="font-size: 14px;"
                                                    need-transition="true">青云岩风景区位于广东省汕头市濠江区东南的大瞭望山，那里林木茂密，
                                                    山径幽深，岩洞奇特，泉水淙淙，风景清静优美，摩崖题刻琳琅满目，庙宇寺观建在云岩之间，历来有“海国风光第一山”的美称。</span>
                                            </font>
                                            <font color="#999999">
                                                <span style="font-size: 14px;"><br></span>
                                            </font>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="webFooter">
            <div class="footerCenter">
                <div class="footerHeader">
                    
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../js/header.js"></script>

</html>