.webFooter {
    background: url(../resources/footer.jpg) repeat center,transparent;
    width: 100%;
    height: 492px;
    margin: 0;
    padding: 0;
    border-spacing: 0;
}

.webFooter .footerCenter {
    width: 1200px;
    height: inherit;
    margin: 0px auto;
}

.footerHeader {
    width: 759px;
    height: 100px;
    margin: auto;
}

